

body{
	margin: 0px;
	background-color: #FFFFFF;
}







/*全体のレイアウトの指定 ↓ここから*/
div#contents{
	width: 100%;
	background-color: #FFFFFF;
	margin: 0px auto;

}


div#header{
	height: 120px;
	width: 100%;
	font-size: 12px;
	background-color: #4169e1;
}
div#header h1{
	margin: 0px;
	font-size: 16px;
	color: #FFFFFF;
}
div#header p{
	text-align: right;
	color: #FFFFFF;
}

div#header .create{
	text-align: right;
}
div#header .logout{
	text-align: right;
}
div#header .icon {
    width: 100px;
    height: 75px;
}


div#container{
	position: relative;
}


div#main {
    width: 100%;
    height: 700px;
    background-color: #FFFFFF;
    position: relative;
    left: 0px;
}


div#main .find {
    text-align: center;
}
div#main .top {
    text-align: center;
}
div#main .column {
    display: inline-block;
    width: 100px;
    text-align: left;
}

div#main .form-group {
    text-align: center;
}

div#main .errorMessage {
    color: red;
    font-size: 16pt;
}


div#footer{
	height: 100px;
	background-color: #4169e1;
	width: 100%;
	font-size: 12px;
	line-height: 62px;
}
/*全体のレイアウトの指定 ↑ここまで*/


/*LoginFormのCSS設定 ↓ここから*/
input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 4px;
    font-size: 14px;
    }
/*LoginFormのCSS設定 ↑ここから*/



/*テーブルスタイル指定*/

.empTable {
    width: 75%;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: auto;
	margin-right: auto;
}


 .empTable th{
 width:10%
 padding: 6px;
 text-align: left;
 vertical-align: top;
 color: #666666;
 background: url(bg.jpg) repeat-x top left #eee;
 border-bottom: 1px dotted #999;
 border-left: 1px solid #ccc;
 }
 .empTable td{
 width: 10%;
 padding: 6px;
 font-size: 12px;
 border-bottom: 1px dotted #999;
 border-left: 1px solid #ccc;
 }
 /*テーブルスタイル指定*/
