

body{
	margin: 0px;
	background-color: #FFFFFF;
}



/*ヘッターの設定*/
div#header .login-id{
	text-align: right;
	color: #FFFFFF;
	font-size: 16px;
}
div#header .create{
	text-align: right;
}
div#header .logout{
	text-align: right;
}
div#header .icon {
    width: 100px;
    height: 75px;
}
/*ヘッターの設定*/




/*全体のレイアウトの指定 ↓ここから*/
div#contents{
	width: 100%;
	background-color: #FFFFFF;
	margin: 0px auto;

}


div#header{
	height: 120px;
	width: 100%;
	font-size: 12px;
	background-color: #4169e1;
}
div#header h1{
	margin: 0px;
	font-size: 24px;
	color: #FFFFFF;
}




div#container{
	position: relative;
}


div#main {
    width: 100%;
    height: 700px;
    background-color: #FFFFFF;
    position: relative;
    left: 0px;
    display: table;
}


div#main h2 {
    text-align: center;
}

div#main .find {
    text-align: center;
}
div#main .top {
    text-align: center;
}




div#footer{
	height: 100px;
	background-color: #4169e1;
	width: 100%;
	font-size: 12px;
	line-height: 62px;
}
/*全体のレイアウトの指定 ↑ここまで*/

/*Form共通設定*/
input[type="text"],
input[type="password"],
input[type="date"] {
    width: 300px;
    padding: 4px;
    font-size: 14px;
    }

/*Form共通設定*/



/*データ検索結果のCSS設定 ↓ここから*/
div#main .page {
    text-align: center;
}
/*データ検索結果のCSS設定 ここから*/


/* 終了ページのCSS設定 */
div#main .finish-contents {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}



div#main .finish-message {
    font-size: 20pt;
    color: green;
}
/* 終了ページのCSS設定 */



/*LoginFormのCSS設定 ↓ここから*/



div#main .login-contents {
    text-align: center;
}

div#main  .loginForm {
    display: inline-block;
}

div#main  .submit {
    text-align: right;
}
div#main .errorMessage {
    color: red;
    font-size: 14pt;
    text-align: left;
}

/*LoginFormのCSS設定 ↑ここから*/



/*登録FormのCSS設定 ↓ここから*/
div#main .change-contents {
    text-align: center;
}


div#main .changeForm {
    display: inline-block;
}

div#main .column {
    display: inline-block;
    width: 100px;
    text-align: left;
}

div#main  .value {
    display: inline-block;
    width: 320px;
}
/*登録FormのCSS設定 ↓ここから*/




/*テーブルスタイル指定*/

.empTable {
    width: 75%;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: auto;
	margin-right: auto;
}


 .empTable th{
 width:10%
 padding: 6px;
 text-align: left;
 vertical-align: top;
 color: #666666;
 background: url(bg.jpg) repeat-x top left #eee;
 border-bottom: 1px dotted #999;
 border-left: 1px solid #ccc;
 }
 .empTable td{
 width: 10%;
 padding: 6px;
 font-size: 12px;
 border-bottom: 1px dotted #999;
 border-left: 1px solid #ccc;
 }
 /*テーブルスタイル指定*/
